body {
    background-color: #76D7C4;
}
  
h1 {
    font-family: Arial;
    font-size: 30px;
    color: #ffffff;
    text-align: center;
}

p{
    font-family: Arial;
    font-size: 30px;
    color: #ffffff;
    text-align: center;  
}

div{
      text-align: center;
}
#cabecera{   
    color: #76D7C4;
    text-align: left;
    margin: 10px 0 0 10px;
    position:relative; margin:0 auto; width:1000px;
    width:100%; float:left;
    position:fixed; top:0; z-index:999999;
  }
#contenido{
    text-align: center;
}  
#pie{
    background-color: black;   
    color: #76D7C4;
    text-align: left;
    margin: 10px 0 0 10px;
    position:relative; margin:0 auto; width:960px;
    width:100%; float:left;
    position:fixed; bottom:0; z-index:999999;
  }
p {
   font-family: Arial;
   font-size: 14px;
   color: gray;
}

select {
    font-family: Arial;
    font-size: 14px;
    color: gray;
    width: 30%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input {
    font-family: Arial;
    font-size: 14px;
    color: gray;
    width: 30%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#buscar {
    font-family: Arial;
    font-size: 14px;
    color: gray;
    width: 69%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  
label {
    font-family: Arial;
    font-size: 12px;
    color: gray;
    width: 50%;
    display: inline-block;
}
  