body {
    background-color: #76D7C4;
}
  
h1 
{
    font-family: Arial;
    font-size: 30px;
    color: #ffffff;
    text-align: center;
}
p
{
    font-family: Arial;
    font-size: 30px;
    color: #ffffff;
    text-align: center;  
}

div
{
      text-align: center;
}​
p 
{
   font-family: Arial;
   font-size: 14px;
   color: gray;
}

select {
    font-family: Arial;
    font-size: 14px;
    color: gray;
    width: 30%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input {
    font-family: Arial;
    font-size: 14px;
    color: gray;
    width: 30%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  
label {
    font-family: Arial;
    font-size: 12px;
    color: gray;
    width: 50%;
    display: inline-block;
}
  